<%= javascript_pack_tag 'calendar', 'data-turbolinks-track': 'reload' %>

<p id="notice"><%= notice %></p>

<h1>Tasks</h1>
<p><%= @driver.name %></p>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task_type %></td>
        <td><%= task.start_time.strftime("%B %d %Y %I:%M%p") %></td>
        <td><%= task.end_time.strftime("%B %d %Y %I:%M%p") %></td>
        <td><%= task.location %></td>
        <td><%= link_to 'Show', driver_task_path(@driver, task) %></td>
        <td><%= link_to 'Edit', edit_driver_task_path(@driver, task) %></td>
        <td><%= link_to 'Destroy', [@driver, task], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>

<%= link_to 'Main Calendar (all drivers)', tasks_path %>

<br>
<br>

<%= link_to 'New Task', new_task_path %>

<br>
<br>

<%= link_to 'Generate CSV for 2020 tasks', generate_csv_path(@driver.id) %>

<br>
<br>
<br>

<div id="calendar"></div>

<%= week_calendar number_of_weeks: 2, events: @tasks do |date, tasks| %>
  <%= date %>

  <% tasks.each do |task| %>
    <div>
      <%= link_to "#{task.task_type} (#{task.start_time.strftime("%I:%M%p")} to #{task.end_time.strftime("%I:%M%p")})", driver_task_path(@driver, task) %>
    </div>
  <% end %>
<% end %>