<p id="notice"><%= notice %></p>

<p>
  <strong>Driver Name:</strong>
  <%= @task.driver.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @task.task_type %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @task.start_time.strftime("%B %d %Y %I:%M%p") %>
</p>

<p>
  <strong>End time:</strong>
  <%= @task.end_time.strftime("%B %d %Y %I:%M%p") %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @task.location %>
</p>

<%= link_to 'Edit', edit_driver_task_path(@driver, @task) %> |
<%= link_to 'Back', driver_tasks_path(@driver) %>
